<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title> {{ title }}</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet">
</head>

<body>
    {{ message }}
    <table id="example" class="display" style="width:100%">
        <thead>
            <tr style="font-size: 20px; font-family: Arial, Helvetica, sans-serif;">
                <th>ID</th>
                <th>Nim</th>
                <th>Nama</th>
                <th>Alamat</th>
                <th>Jurusan</th>
                <th>Angkatan</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>ID</th>
                <th>Nim</th>
                <th>Nama</th>
                <th>Alamat</th>
                <th>Jurusan</th>
                <th>Angkatan</th>
            </tr>
        </tfoot>
    </table>
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                'ajax': 'mahasiswa/jsondata',
                'columns': [
                    { "data": "id" },
                    { "data": "nim" },
                    { "data": "nama" },
                    { "data": "alamat" },
                    { "data": "jurusan" },
                    { "data": "angkatan" },
                ],
            });
        });
    </script>
</body>

</html>